/* Hide browser's built-in password reveal toggle */
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-caps-lock-indicator,
input[type="password"]::-webkit-reveal-password {
  display: none !important;
}

/* Also hide for Firefox */
input[type="password"]::-ms-reveal {
  display: none !important;
}
